@model Dtos.Requests.UserSignupRequest
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignupPage</title>

    <link href="~/css/Signup.css" rel="stylesheet" />
</head>
<body>
    <div class="form">
        <form asp-action="SignupPage" method="post">

            <h1>Real Estatery Kayıt Ol</h1>
            <input asp-for="FirstName" class="text_box" placeholder="Ad" type="text" />
            <input asp-for="SecondName" class="text_box" placeholder="Soy Ad" type="text" />
            <input asp-for="Email" class="text_box" placeholder="E-mail Adres(example@gmail.com)" type="email" />
            <input asp-for="Password" class="text_box" placeholder="Şifre" type="password" />
            <div class="form-group">
                <input class="submit-button" type="submit" value="Kayıt Ol" />
            </div>
        </form>
        <h1>Hesabın varsa</h1>
        @Html.ActionLink("Giriş Yap","LoginPage","User",null,new {@class="submit-button"})
    </div>

</body>
</html>
