<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Main.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav id="top-nav">
            <div class="nav-logo">
                <i class="fas fa-map-pin" style="margin-right: 3px;"></i>
                REAL ESTATERY
            </div>
            <div class="nav-options">
                <ul>
                    <li><a asp-action="HomePage" asp-controller="Home">Ev ilanları</a></li>
                    <li><a asp-action="LandPage" asp-controller="Land">Arazi ilanları</a></li>
                    <li><a asp-action="WorkPlacePage" asp-controller="WorkPlace">İş Yeri ilanları</a></li>
                    <li><a asp-action="Create" asp-controller="Home">Ev ilanı oluştur</a></li>
                    <li><a asp-action="Create" asp-controller="Land">Arazi ilanı oluştur</a></li>
                    <li><a asp-action="Create" asp-controller="WorkPlace">İş yeri ilanı oluştur</a></li>
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link" asp-action="Logout" asp-controller="User">@User.Identity.Name (Çıkış Yap)</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-action="LoginPage" asp-controller="User">Giriş Yap</a>
                        }
                    </li>
                </ul>
            </div>
        </nav>

        @RenderBody()
    </div>
</body>
</html>
