@model Dtos.Requests.LandRequest

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/Land.css" rel="stylesheet" />
<hr />
<div class="row">
    <div class="col-md-4 form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Advertiser" class="control-label"></label>
                <input asp-for="Advertiser" class="form-control" />
                <span asp-validation-for="Advertiser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquareMeter" class="control-label"></label>
                <input asp-for="SquareMeter" class="form-control" />
                <span asp-validation-for="SquareMeter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Lokasyon</label>
                <select asp-for="Location.CityName" class="form-control" asp-items="ViewBag.Locations">
                </select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesCategory.Name" class="control-label">Satış Kategorisi</label>
                <select asp-for="SalesCategory.Name" class="form-control" asp-items="ViewBag.salescategoryItems">
                </select>
                <span asp-validation-for="SalesCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesType.Name" class="control-label">Satış Tipi</label>
                <select asp-for="SalesType.Name" class="form-control" asp-items="ViewBag.salestypeItems">
                </select>
                <span asp-validation-for="SalesType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrls.Name" class="control-label">Image Url'i' </label>
                <input asp-for="ImageUrls.Name" class="form-control" />
                <span asp-validation-for="ImageUrls.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
