
@{
    ViewData["Title"] = "WorkPlacePage";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    @foreach (var item in Model)
    {
        <div class="mycard">
            <partial name="_WorkPlaceCard" model="@item" />
        </div>
    }
</div>
